html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button:focus {
  outline: none;
}
header {
  position: relative;
  z-index: 5;
}
.navigation_article {
  margin-bottom: 20px;
}

.navigation_article a:hover {
  text-decoration: underline;
  color: #ba1000;
}
.navigation_article a i {
  color: grey;
}
.navigation_article a i:hover {
  color: #ba1000;
}
.navigation_article a {
  margin: 0 5px 0 5px;
  color: #0059b2;
}
.nav_main {
  display: flex;
}
.language_button {
  max-height: 50px;
  margin-right: 20px;
  background-color: transparent;
  border: none;
  font-size: 14px;
  line-height: 1.5;
  color: #696664;
  padding: 10px 15px 0px 15px;
}
.language_button:hover {
  cursor: pointer;
  color: #ba1000;
}
.language_button:focus {
  outline: none;
}
.fa-globe {
  font-size: 22px;
}
.js_logo {
  max-width: 171px;
  margin-right: 30px;
}
.js_logo_little {
  display: none;
}
.bar_mobile {
  display: flex;
}
.nav_main ul {
  display: flex;
  margin-top: 20px;
}
.nav_main ul li {
  margin-right: 20px;
  list-style-type: none;
}
.nav_main ul li a {
  text-decoration: none;
  color: #696664;
}
.nav_main ul li a:hover {
  color: #b20600;
}
.search_bar {
  display: none;
}
.map_mobile {
  display: none;
}
.social_net_mobile {
  display: none;
}
header {
  display: flex;
  position: relative;
  justify-content: space-between;
}
header::after {
  border-bottom: 4px solid #e1e0de;
  border-width: 4px;
  content: "";
  width: 100%;
  position: absolute;
  top: 57px;
}
.mainmenubtn:hover {
  color: #ba1000;
}
.mainmenubtn {
  background-color: transparent;
  color: #696664;
  border: none;
  cursor: pointer;
  margin: 0 15px 0 0;
  margin-top: 16.5px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.fa-caret-down {
  margin-left: 2px;
}
.dropdown-child a:hover {
  color: #b20600;
}
.mainmenubtn:focus {
  outline: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-child {
  display: none;
  background-color: white;
  min-width: 150px;
  position: absolute;
  z-index: 2;
  top: 56px;
  border: 2px solid #e1e0de;
  border-radius: 5px;
}
.dropdown-child a {
  color: black;
  padding: 8px 20px 8px 20px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}
.dropdown:hover .dropdown-child {
  display: block;
}
.select_menu {
  display: none;
}
.wrap {
  display: none;
}
.button_buy_container,
.turn_user,
.turn_search {
  margin-right: 20px;
}
.button_buy {
  margin-top: 12px;
  line-height: 34px;
  padding: 0 12px;
  color: #cb6556;
  border: 3px solid #f8e8e5;
  border-radius: 34px;
  font-size: 14px;
  line-height: 2em;
  background-color: transparent;
}
.button_buy:hover {
  z-index: -1;
  background: #cb6556;
  transition: bottom 0.2s;
  content: "";
  color: white;
  border: 3px solid #cb6556;
  cursor: pointer;
}
.button_buy:focus {
  outline: none;
}
.fa-user,
.fa-search {
  font-size: 22px;
  color: grey;
  margin-top: 16px;
}
.fa-user:hover,
.fa-search:hover {
  color: #686765;
}
.header_right_part {
  display: flex;
}
/**
 * Переключаемая боковая панель навигации
 * выдвигающаяся по клику слева
 */

.nav {
  /*  ширна произвольная, не стесняйтесь экспериментировать */
  min-width: 230px;
  /* фиксируем и выставляем высоту панели на максимум */
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 0;
  /* сдвигаем (прячем) панель относительно левого края страницы */
  left: -320px;
  /* внутренние отступы */
  padding: 15px 20px;
  /* плавный переход смещения панели */
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  transition: left 0.3s;
  /* определяем цвет фона панели */
  background: #f5f2f0;
  /* поверх других элементов */
  z-index: 10;
}

/**
 * Кнопка переключения панели
 * тег <label>
 */

.nav-toggle {
  /* абсолютно позиционируем */
  position: absolute;
  /* относительно левого края панели */
  left: 325px;
  /* отступ от верхнего края панели */
  top: 3.2em;
  /* внутренние отступы */
  padding: 0.5em;
  /* определяем цвет фона переключателя
     * чаще вчего в соответствии с цветом фона панели
    */
  background: none;
  /* цвет текста */
  color: grey;
  /* вид курсора */
  cursor: pointer;
  /* размер шрифта */
  font-size: 1.4em;
  line-height: 1;
  /* всегда поверх других элементов страницы */
  z-index: 2001;
  /* анимируем цвет текста при наведении */
  -webkit-transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}

/* определяем текст кнопки 
 * символ Unicode (TRIGRAM FOR HEAVEN)
*/

.nav-toggle:after {
  content: "\2630";
  text-decoration: none;
}

/* цвет текста при наведении */

.nav-toggle:hover {
  color: lightgray;
}

/**
 * Скрытый чекбокс (флажок)
 * невидим и недоступен :)
 * имя селектора атрибут флажка
 */

[id="nav-toggle"] {
  position: absolute;
  display: none;
}

/**
 * изменение положения переключателя 
 * при просмотре на мобильных устройствах
 * когда навигация раскрыта, распологаем внутри панели
*/

[id="nav-toggle"]:checked ~ .nav > .nav-toggle {
  left: auto;
  right: 2px;
  top: 1em;
}

/**
 * Когда флажок установлен, открывается панель
 * используем псевдокласс:checked
 */

[id="nav-toggle"]:checked ~ .nav {
  left: 0;
  box-shadow: 2px 0px 5px 0px rgba(141, 140, 140, 0.3);
  -moz-box-shadow: 2px 0px 5px 0px rgba(141, 140, 140, 0.3);
  -webkit-box-shadow: 2px 0px 5px 0px rgba(141, 140, 140, 0.3);
  overflow-y: auto;
}

/* 
 * смещение контента страницы
 * на размер ширины панели,
 * фишка необязательная, на любителя
*/

[id="nav-toggle"]:checked ~ main > article {
  -webkit-transform: translateX(150px);
  -moz-transform: translateX(150px);
  transform: translateX(150px);
}

/*
 * изменение символа переключателя,
 * привычный крестик (MULTIPLICATION X), 
 * вы можете испльзовать любой другой значок
*/

[id="nav-toggle"]:checked ~ .nav > .nav-toggle:after {
  content: "\2715";
}

/**
 * профиксим баг в Android <= 4.1.2
 * см: http://timpietrusky.com/advanced-checkbox-hack
 */

body {
  -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
  to {
    padding: 0;
  }
}

/**
 * позаботьтимся о средних и маленьких экранах
 * мобильных устройств
 */

@media screen and (min-width: 320px) {
  html,
  body {
    margin: 0;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 320px) {
  html,
  body {
    margin: 0;
    overflow-x: hidden;
  }
  .nav {
    width: 100%;
    box-shadow: none;
  }
}
.burger_list {
  margin-top: 120px;
}
.menu__item_nonref {
  font-size: 12px;
  color: #c4c2c0;
  padding: 12px 12px;
}

.menu__item {
  display: block;
  padding: 12px 12px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}
.social_networks {
  display: flex;
  margin-left: 15px;
}
.social_networks li {
  margin: 10px;
}
.fa-twitter {
  color: #71baf2;
  font-size: 22px;
}
.fa-twitter:hover {
  color: #2092eb;
  cursor: pointer;
}
.fa-facebook-f {
  color: #8c9cc2;
  font-size: 22px;
}
.fa-facebook-f:hover {
  color: #576ea4;
  cursor: pointer;
}
.fa-vk {
  color: #9badc3;
  font-size: 22px;
}
.fa-vk:hover {
  color: #6480a2;
  cursor: pointer;
}
.menu__item:hover {
  color: #cb6556;
}

.nav > ul > li {
  line-height: 1;
  opacity: 0;
}

[id="nav-toggle"]:checked ~ .nav > ul > li {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.nav > ul > li > a {
  /* плавный переход */
  -webkit-transition: color 0.5s ease, padding 0.5s ease;
  -moz-transition: color 0.5s ease, padding 0.5s ease;
  transition: color 0.5s ease, padding 0.5s ease;
}

/**
 * состояние ссылок меню при наведении
 */

.nav > ul > li > a:hover,
.nav > ul > li > a:focus {
  color: #cb6556;
  padding-left: 10px;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 20px;
}
.navigation_article {
  line-height: 2;
}
.article_body h1 {
  font-size: 32px;
  margin-bottom: 20px;
}
.article_body h2 {
  font-size: 22px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.article_body h2 a {
  text-decoration: none;
  color: black;
  outline: none;
}
.article_body h2 a:hover {
  text-decoration: underline;
  opacity: 0.7;
}
.article_body a {
  text-decoration: none;
  color: #0059b2;
}
.article_body p {
  line-height: 24px;
  margin-bottom: 15px;
}
.article_body code {
  background-color: #e1e0de;
  padding: 0 5px 0 5px;
}
.important_smart {
  border: 3px solid #f8e8e5;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
}
.important__header {
  margin-bottom: 20px;
}
.article_body ul li {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 10px;
}
.important__content ol li {
  list-style-type: decimal;
  margin-left: 15px;
  margin-bottom: 20px;
}
.introduce_js_img {
  max-width: 500px;
}
@media (max-width: 1500px) {
  body {
    font-size: 0.9rem;
  }
  .mainmenubtn {
    font-size: 0.9rem;
  }
}
@media (max-width: 1400px) {
}
@media (max-width: 1300px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 1120px) {
  .js_logo {
    display: none;
  }
  .js_logo_little {
    max-width: 131px;
    margin-right: 30px;
    display: inline;
  }
  article {
    font-size: 0.75rem;
  }
  .nav {
    min-width: 150px;
    max-width: 180px;
  }
  [id="nav-toggle"]:checked ~ main > article {
    -webkit-transform: translateX(15%);
    -moz-transform: translateX(15%);
    transform: translateX(15%);
  }
}
@media (max-width: 1050px) {
  main {
    max-width: 600px;
  }
}
@media (max-width: 1000px) {
  .nav {
    min-width: 150px;
    max-width: 180px;
  }
  [id="nav-toggle"]:checked ~ main > article {
    -webkit-transform: translateX(20%);
    -moz-transform: translateX(20%);
    transform: translateX(20%);
  }
}
@media (max-width: 970px) {
  header {
    font-size: 0.75rem;
  }
  .mainmenubtn {
    font-size: 0.75rem;
  }
}
@media (min-width: 870px) {
  .header__burger {
    display: none;
  }
}
@media (max-width: 870px) {
  .nav-toggle {
    display: none;
  }
  main {
    max-width: 90%;
  }
  .language_button,
  .js_logo_little,
  .dropdown,
  .turn_search {
    display: none;
  }
  body.lock {
    overflow: hidden;
  }
  .js_logo {
    display: inline;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 15px;
    height: 18px;
    z-index: 3;
    margin: 20px 30px 0px 15px;
  }
  .header__burger:hover {
    cursor: pointer;
  }
  .header__burger span {
    position: absolute;
    background-color: grey;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: grey;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 1px;
  }
  .header__burger:after {
    bottom: -1px;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 7px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .bar_mobile {
    display: block;
    position: absolute;
    top: -130vh;
    left: 0;
    width: 100%;
    min-height: 50%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color: #f5f2f0;
    padding: 15px 10px 20px 10px;
  }
  header {
    z-index: 10;
    position: relative;
  }
  .bar_mobile.active {
    top: 60px;
  }
  .nav_main .nav_ul {
    display: none;
  }
  .nav_ul {
  }
  .nav_ul li {
    margin: 0px 0px 20px 0px;
  }
  .nav_ul li a {
    font-size: 24px;
  }
  .select_menu {
    display: block;
    margin: 0 auto;
  }
  #select_type {
    min-width: 95%;
    margin: 0 auto;
    line-height: 30px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-image: linear-gradient(180deg, #ccc 0, #ccc),
      linear-gradient(180deg, #dcdcdc 0, #f9f9f9 80%, #f0f0f0);
    background-size: 1px 100%, auto, auto;
    background-repeat: no-repeat;
    font-size: 14px;
    padding: 7px 10px;
  }
  #select_type:hover {
    cursor: pointer;
  }
  #select_type option {
    font-size: 14px;
  }
  .search_bar {
    display: block;
  }
  .search_input {
    min-width: 95%;
    border-radius: 5px;
    min-height: 30px;
    max-height: 35px;
    margin-top: 17px;
    border: 1px solid grey;
  }
  form button {
    position: absolute;
    height: 31px;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 2px;
    transform: translate(-35px, 16px);
  }
  form button:hover {
    cursor: pointer;
  }
  form button .fa-search {
    margin: 0 0;
    color: white;
  }
  .map_mobile {
    display: block;
    margin-top: 17px;
  }
  .map_mobile a {
    text-decoration: none;
    font-size: 16px;
    color: gray;
  }
  .map_mobile a:hover {
    color: #0059b2;
  }
  .fa-code-branch {
    font-size: 20px;
    margin-right: 10px;
  }
  .social_net_mobile {
    display: block;
    margin-bottom: 10px;
  }
  .social_networks {
    display: flex;
    margin-left: 0px;
  }
  .social_net_mobile .share_mobile {
    margin-left: 0px;
    color: gray;
  }
}
@media (min-width: 550px) {
  .button_buy_little {
    display: none;
  }
}
@media (max-width: 550px) {
  .js_logo_little {
    display: inline;
  }
  .js_logo {
    display: none;
  }
  .button_buy {
    display: none;
  }
  .button_buy_little {
    display: inline;
  }
  .introduce_js_img {
    width: 90%;
  }
}
